body {

}
.error {
    text-align: center; /* Выравнивание по центру */
}
.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    background: #f1f1f1;
    box-shadow: 0 2px 10px;
}
.header {
    margin: 0 0 20px 0;
    padding: 5px 10px;
}
/*    MENU    */
.menu {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.menu {
    padding: 0;
    margin: 5px auto;
    display: block;
    float: right;
}
.menu li {
    position: relative;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 4px;
    -webkit-box-shadow: 0px 5px 15px 0 rgba(0,0,0,1);
    -moz-box-shadow: 0px 5px 15px 0 rgba(0,0,0,1);
    box-shadow: 0px 5px 15px 0 rgba(0,0,0,1);
    min-width: 100px;
    text-align: center;
}
.menu a {
    display: block;
    padding: 8px 10px;
    color: white;
    background: #0099ff;
    text-decoration: none;
}
.menu a:hover, a.activeButton {
    color: #0099ff;
    background: white;
}
/*    LOGO    */
.logo {
     font-family: 'Arial', sans-serif;
     font-size: 32px;
     float: left;
    margin-top: 5px;
 }
.logo a {
    text-decoration: none;
    color: darkblue;
}
.logo div{
    display: inline-block;
    vertical-align: middle;
}
.logo img {
    margin-right: 5px;
    vertical-align: middle;
}
.none {
    float: none;
    clear: both;
}