<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>EntriesServlet</servlet-name>
        <servlet-class>ru.devlifestatistic.servlets.EntriesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EntriesServlet</servlet-name>
		<url-pattern>/entries</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentsOfEntryServlet</servlet-name>
        <servlet-class>ru.devlifestatistic.servlets.CommentsOfEntryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentsOfEntryServlet</servlet-name>
        <url-pattern>/comments</url-pattern>
    </servlet-mapping>    
           
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/templates/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/templates/error.jsp</location>
    </error-page>

</web-app>